.track-details-card {
    background-color: rgb(245, 245, 245);
    padding: 2rem;

}

.track-image {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    
}

.track-grid {
    width: 70%;
    position: relative;
    top: 0;
    left: 0;
    /* border: 1px red solid; */
    border-radius: 8px;

}

.track {
    width: 65%;
    position: absolute;
    top: 55px;
    left: 110px;
    /* border: 1px green solid; */
}

.gp-card-content{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 15px;
  }
  
  .image2 {
    margin-top: 10px;
    width: 70%;
  }
  
  .gp-card-title{
    margin-top: 25px;
    color: rgb(0, 0, 0);
    font-weight: 800;
  }
  
  .parent:hover .image1 {
    transform: scale(1.1);
  }
  
  
  
  
  .date-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    font-weight: 700;
  }
  
  .country-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: rgb(0, 0, 0);
  }
  
  .date-container .calendar-icon {
    
    height: 16px;
    margin-right: 8px;
    flex-shrink: 0;
  }
  
  .date-logo {
    -webkit-filter: invert(1);
    filter: invert(1);
    }
  
  .date-container p {
    margin: 0;
  }