.parent {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  .image1 {
    transition: transform 0.3s ease;
    filter: saturate(200%) brightness(70%) ;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    
  }

  .card:hover .image1 {
    transform: scale(1.1);
  }
  
  .image2 {
    position: absolute;
    top: 50px;
    left: 30px;
    width: 80%;
    
  }

  .date-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .date-container .calendar-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    flex-shrink: 0;
  }
  
  .date-container p {
    margin: 0;
  }
  