<html>
    <h2>Add GP to calender</h2>
    <form action="/calenderData" enctype="multipart/form-data" method="POST" >
        Round : <input type="number" name="round"><br/>
        GP Name : <input type="text" name="gpname"><br/>
        Country : <input type="text" name="country"><br/>
        Date : <input type="text" name="date"><br/>
        Track Image : <input type="file" name="trackimg"><br/>

        <button type="submit">SUBMIT</button>

        

    </form>
</html>