

@font-face {
    font-family: 'f1-bold'; /*a name to be used later*/
    src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.ttf'); /*URL to font*/
  }

.navbar-fixed {
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Center the content vertically */
    padding: 10px; /* Add some padding to the navbar if needed */
    
  }

.logo{
    height : 1.8rem;
    margin-right: 1.5rem;
}

.nav-item{
    margin-right: 0.6rem;
}
.nav-link{
    
    font-size: larger;
    color : white
}
a:hover {
    color: rgb(0, 0, 0);
  }