
@font-face {
  font-family: 'f1-regular'; /*a name to be used later*/
  src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.ttf'); /*URL to font*/
}

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #fff9f9;
  min-height: "100vh";
  font-family: 'f1-regular';
}


.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  justify-content: flex-start;
  margin-top: 58px;
}

.bg-container {
  background-color: #f7f4f1;
  height: 100%;
  overflow-y: auto;
}