.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #c6c6c6;
  min-height: "100vh"
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: flex-start;
  margin-top: 64px;
}

.bg-container {
  background-color: #f7f4f1;
  height: 100%;
  overflow-y: auto;
}